<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.data.test %></title>
    <link href="<%= require('./style/post.css').default %>" rel="stylesheet" type="text/css">
  </head>
  <body>
    <img src="<%= require('../content/touhou.jpg').default %>" alt="">
    
    <%= require('./_pages.js')[htmlWebpackPlugin.options.filesrc] %>

    <script type="text/javascript" src="/assets/script/main.js"></script>
  </body>
</html>
